.THIS .articleblue:hover{
    background: transparent;
}
.THIS .storeadminBlue:hover{
    background: transparent;
}
.THIS .templateblue:hover{
    background: transparent;
}
.THIS .paymentblue:hover{
    background: transparent;
}
.THIS .categoryblue:hover{
    background: transparent;
}
.THIS .prodfeatureblue:hover{
    background: transparent;
}
.THIS .productblue:hover{
    background: transparent;
}
.THIS .prodOptionsblue:hover{
    background: transparent;
}
.THIS .reviewblue:hover{
    background: transparent;
}
.THIS .couponsblue:hover{
    background: transparent;
}
.THIS .locationblue:hover{
    background: transparent;
}
.THIS .shippingmthblue:hover{
    background: transparent;
}
.THIS .taxblue:hover{
    background: transparent;
}
.THIS .orderblue:hover{
    background: transparent;
}
.THIS .customerblue:hover{
    background: transparent;
}
.THIS .cartwishlistblue:hover{
    background: transparent;
}
.THIS .productcatalogblue:hover{
    background: transparent;
}
.THIS .shipandtaxblue:hover{
    background: transparent;
}